<div align="right" style="margin-left: 40%;">
<%= render 'home/widgets/menu' %>
</div>
<div class="bg-green">
<%= render 'home/widgets/search' %>

<%= render 'vendor_categories/display_all_vendor_categories' %>
</div>

<h1 class="page-title"> <%=@vendor_category.category%> </h1>


<div class="bg-green">
  <%= render 'vendor_sub_categories/display_all_vendor_sub_categories', :category_id => @vendor_category.id %>
</div>

<div class="maincontent" align="center">
    <%= render 'vendors/display_vendors', :@vendor => @vendor %>
</div>

<p align="center"> Number of Hits : <%= @page_hit.count %></p>