  <h1 class="page-title" style="text-align: center">Plan Your Party</h1>
<div id="actions" class="bg-green" style="padding: 1%;">
  <%= render 'home/widgets/search' %>
  <%= render 'vendor_categories/display_all_vendor_categories' %>
  <a href="<%= new_vendor_path %> ">
    <p align="center" style="padding-top: 2%">
      <button type="button" style="color: white; background-color: forestgreen; padding: 0.5%; border-bottom-style: ridge " class="details-show" >Add Your Business</button>
    </p>
  </a>
</div>

<div id="about" align="center">
  <table>
  <td class="details-show">
    <h1 class="details bg-green" > About  </h1>
    <p>PlanEventz is a platform to help you plan your party
  </p>
  </td>

<td style="padding: 0.5%">
<%= render 'home/widgets/slide_show' %>
</td>
</table>
</div>

<%= render 'home/widgets/social_network_sharing' %>

<hr style="width: 95%">
<div class="bg-green">
<div align="center" style="margin-left: 10%;">
    <%= render 'home/widgets/menu' %>
</div>
</div>




