<% content_for :javascript_includes do %>
    <%= javascript_include_tag 'jquery.raty.js','letsrate.js'%>
<% end %>

<hr style="width: 80%">

  <% if @vendor.length != 0 %>
    <table style="margin-left: 25%">
     <% rowId=1; %>


      <% @vendor.each do |vendor| %>
          <tr>
            <td style="padding: 2%;">
              <table>
                <tr>
                  <%= render 'vendor_photos/show_cover_photo', :vendor_id => vendor.id %>
                </tr>
                <tr>
                  <a href="<%= vendor_path(vendor)%>" style="text-align: center; vertical-align: middle" class="details">
                    <p><%= vendor.name %></p>
                  </a>
                </tr>
                <tr>
                  <%= overall_rating_for_vendor VendorReviewsAndRating, "rating", "vendor_id", vendor.id, :enable_half => true, :half_show => true %>
                </tr>
              </table>
            </td>
            <td class="vertical-line" ></td>
            <td style="padding: 2%;">
              <table>
                <tr>
                  <td class="details"> <img align="left" src="../../../../../assets/vendor_details/description.png" padding="1%" /></td>
                  <td  class="details"> : <%= vendor.description %></td>
                </tr>
                <tr>
                  <td class="details"> <img align="left" src="../../../../../assets/vendor_details/location.png" padding="1%" /></td>
                  <td  class="details"> : <%= vendor.location %></td>
                </tr>
                <tr>
                  <td class="details"> <img align="left" src="../../../../../assets/vendor_details/category.png" padding="1%" /></td>
                  <td  class="details"> : <%= get_category(vendor.id) %></td>
                </tr>
                <tr>
                  <td class="details"> <img align="left" src="../../../../../assets/vendor_details/sub_category.png" padding="1%" /></td>
                  <td  class="details"> : <%= get_sub_category(vendor.id) %></td>
                </tr>
                <tr>
                  <td class="details"> <img align="left" src="../../../../../assets/vendor_details/address.png" padding="1%" /></td>
                  <td  class="details"> : <%= vendor.address %></td>
                </tr>
                <tr>
                  <td class="details"> <img align="left" src="../../../../../assets/vendor_details/phone.png" padding="1%" /></td>
                  <td  class="details"> : <%= vendor.phone %></td>
                </tr>
                <tr>
                  <td class="details"> <img align="left" src="../../../../../assets/vendor_details/web.png" padding="1%" /></td>
                  <td class="details"> : <%= vendor.website %></td>
                </tr>
                <tr>
                  <td class="details"> <img align="left" src="../../../../../assets/vendor_details/progress.png" padding="1%" /></td>
                  <td class="details"> : <%= vendor.events_handled %></td>
                </tr>
                <tr>
                  <td class="details"> <img align="left" src="../../../../../assets/vendor_details/calendar.png" padding="1%" /></td>
                  <td class="details"> : <%= vendor.created_at.localtime.strftime('%v') %></td>
                </tr>
                <tr>
                  <td><a href="#" onclick="showDiv('<%= "showReview"+rowId.to_s %>');"> <img align="left" src="../../../../../assets/vendor_details/reviews.png" padding="1%" title="View Review"/> </a></td>
                  <td><a href="#" onclick="showDiv('<%= "gallery"+rowId.to_s %>');">  <img align="left" src="../../../../../assets/vendor_details/gallery.png" padding="1%" title="View Gallery" style="padding-left: 35%;"/> </a></td>
                  <td><a href="<%= vendor_path(vendor)%>" style="text-align: center; vertical-align: middle" class="details">  <img align="left" src="../../../../../assets/vendor_details/details.png" padding="1%" title="View Details" /> </a></td>
                </tr>
              </table>
            </td>
            <td></td>
          </tr>

          <tr>
            <td colspan="9">
              <div id=<%= "showReview"+rowId.to_s %>  style="display:none;" class="vertical-line" >
                <img onclick="hideDiv('<%= "showReview"+rowId.to_s %>');" align="right" src="../../../../../assets/stars/cancel-on.png" padding="1%" />
                <%= render 'vendor_reviews_and_ratings/show_review', :vendor_id => vendor.id %>
              </div>
            </td>
          </tr>

          <tr>
            <td colspan="9">
              <div id=<%= "gallery"+rowId.to_s %>  style="display:none;" class="vertical-line" style="width: 70%;align-self: center; margin-left: 10%;height: 361px;" >
                <img onclick="hideDiv('<%= "gallery"+rowId.to_s %>');" align="right" src="../../../../../assets/stars/cancel-on.png" padding="1%" />
                <%= render 'vendor_photos/show', :vendor_id => vendor.id %>
              </div>
            </td>
          </tr>

          <tr>
            <td colspan="9">
              <hr size="1" width="100%" />
            </td>
          </tr>

          <% rowId=rowId+1%>
      <% end %>
    </table>
  <% else %>
    <p> No vendor to display </p><br />
  <%end %>