<% content_for :javascript_includes do %>
    <%= javascript_include_tag 'jquery.raty.js','letsrate.js'%>
<% end %>

<hr style="width: 80%">

  <% if @vendor.length != 0 %>
    <table style="margin-left: 350px">
     <% rowId=1; %>


      <% @vendor.each do |vendor| %>
          <tr>
            <td style="padding: 20px;">
              <table>
                <tr>
                  <%= render 'vendor_photos/show_cover_photo', :vendor_id => vendor.id %>
                </tr>
                <tr>
                  <a href="<%= vendor_path(vendor)%>" style="text-align: center; vertical-align: middle" class="vendor-details">
                    <p><%= vendor.name %></p>
                  </a>
                </tr>
                <tr>
                  <%= overall_rating_for_vendor VendorReviewsAndRating, "rating", "vendor_id", vendor.id, :enable_half => true, :half_show => true %>
                </tr>
              </table>
            </td>
            <td class="vertical-line" ></td>
            <td style="padding: 20px;">
              <table>
                <tr>
                  <td class="vendor-details">Description</td>
                  <td  class="vendor-details"> : <%= vendor.description %></td>
                </tr>
                <tr>
                  <td class="vendor-details">Location</td>
                  <td  class="vendor-details"> : <%= vendor.location %></td>
                </tr>
                <tr>
                  <td class="vendor-details">Category</td>
                  <td  class="vendor-details"> : <%= get_category(vendor.id) %></td>
                </tr>
                <tr>
                  <td class="vendor-details">Sub-Category</td>
                  <td  class="vendor-details"> : <%= get_sub_category(vendor.id) %></td>
                </tr>
                <tr>
                  <td class="vendor-details">Address</td>
                  <td  class="vendor-details"> : <%= vendor.address %></td>
                </tr>
                <tr>
                  <td class="vendor-details">Phone</td>
                  <td  class="vendor-details"> : <%= vendor.phone %></td>
                </tr>
                <tr>
                  <td class="vendor-details">Website/Email</td>
                  <td class="vendor-details"> : <%= vendor.website %></td>
                </tr>
                <tr>
                  <td class="vendor-details">Events Handled</td>
                  <td class="vendor-details"> : <%= vendor.events_handled %></td>
                </tr>
                <tr>
                  <td class="vendor-details">With Us since</td>
                  <td class="vendor-details"> : <%= vendor.created_at.localtime.strftime('%v') %></td>
                </tr>
                <tr>
                  <td><a href="#" onclick="showDiv('<%= "showReview"+rowId.to_s %>');"> Show Review </a></td>
                  <td><a href="#" onclick="showDiv('<%= "gallery"+rowId.to_s %>');"> Gallery </a></td>
                </tr>
              </table>
            </td>
            <td></td>
          </tr>

          <tr>
            <td colspan="9">
              <div id=<%= "showReview"+rowId.to_s %>  style="display:none;" class="vertical-line" >
                <img onclick="hideDiv('<%= "showReview"+rowId.to_s %>');" align="right" src="../../../../../assets/stars/cancel-on.png" padding="10px" />
                <%= render 'vendor_reviews_and_ratings/show_review', :vendor_id => vendor.id %>
              </div>
            </td>
          </tr>

          <tr>
            <td colspan="9">
              <div id=<%= "gallery"+rowId.to_s %>  style="display:none;" class="vertical-line" >
                <img onclick="hideDiv('<%= "gallery"+rowId.to_s %>');" align="right" src="../../../../../assets/stars/cancel-on.png" padding="10px" />
                <%= render 'vendor_photos/show', :vendor_id => vendor.id %>
              </div>
            </td>
          </tr>

          <tr>
            <td colspan="9">
              <hr size="1" width="100%" />
            </td>
          </tr>

          <% rowId=rowId+1%>
      <% end %>
    </table>
  <% else %>
    <p> No vendor to display </p><br />
  <%end %>