<div align="right" style="margin-left: 40%;">
  <%= render 'home/widgets/menu' %>
</div>

<h1 class="page-title"> Plan Your Party </h1>

<%= render 'home/widgets/search' %>

<div class="bg-green">
    <%= render 'vendor_categories/display_all_vendor_categories' %>
</div>

<div align="center">
    <%= render 'display_vendors', :@vendor => @vendor %>
</div>

<p align="center"> Number of Hits : <%= @page_hit.count %></p>