<% content_for :javascript_includes do %>
    <%= javascript_include_tag 'jquery.raty.js','letsrate.js'%>
<% end %>

<div align="right" style="margin-left: 35%;">
  <%= render 'home/widgets/menu' %>
</div>

<div style="padding-left: 5%">

<div class="page-title">
  <%= @vendor.name.strip %>
</div>

<div style="padding-left: 38%">
<%= render 'vendor_photos/show_cover_photo', :vendor_id => @vendor.id %>
<p><%= overall_rating_for_vendor VendorReviewsAndRating, "rating", "vendor_id", @vendor.id, :enable_half => true, :half_show => true %></p>
</div>

  <div style="padding-left: 20%">
  <table>
    <tr>
        <td>
        <table>
          <tr>
            <td class="details-heading">Description </td>
            <td  class="details-show"> :<% if @vendor.description!=nil %>
                  <%= @vendor.description.strip %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="details-heading">Location</td>
            <td  class="details-show"> : <%= @vendor.location.strip %></td>
          </tr>
          <tr>
            <td class="details-heading">Category</td>
            <td  class="details-show"> : <%= get_category(@vendor.id) %></td>
          </tr>
          <!--<tr>-->
            <!--<td class="details-heading">Sub-Category</td>-->
            <!--<td  class="details-show"> : <= get_sub_category(@vendor.id) %></td>-->
          <!--</tr>-->
          <tr>
            <td class="details-heading">Address</td>
            <td  class="details-show"> : <% if @vendor.address!=nil %>
                  <%= @vendor.address.strip %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="details-heading">Phone</td>
            <td  class="details-show"> : <%= @vendor.phone.strip %></td>
          </tr>
          <tr>
            <td class="details-heading">Website/Email</td>
            <td class="details-show"> : <% if @vendor.website!=nil %>
                  <%= @vendor.website.strip %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="details-heading">Events Handled</td>
            <td class="details-show"> :<% if @vendor.events_handled!=nil %>
                  <%= @vendor.events_handled %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="details-heading">Number Of Reviewers</td>
            <td class="details-show"> : <%= get_number_of_reviews(@vendor.id) %>
            </td>
          </tr>
          <tr>
            <td class="details-heading">With Us since</td>
            <td class="details-show"> : <%= @vendor.created_at.localtime.strftime('%v') %></td>
          </tr>
          </table>
        </td>

        <td style="padding-left: 10%; padding-top: 20%;" >
          <%= render 'vendor_photos/show', :vendor_id => @vendor.id %>
        </td>
    </tr>
  </table>
  </div>

  <hr style="width: 90%">
  <div class="details-heading" style="padding-left: 5%">Reviews</div>
  <%= render 'vendor_reviews_and_ratings/show_review', :vendor_id => @vendor.id %>
  <hr style="width: 90%">

  <a href="<%= vendors_path%>" class="details">
    <img align="left" src="../../../../../assets/vendor_details/back.png" padding="1%" title="Back" style="padding-left: 5%;"/>
    Back
  </a>
</div>