<% content_for :javascript_includes do %>
    <%= javascript_include_tag 'jquery.raty.js','letsrate.js'%>
<% end %>

<h1><%= @vendor.name %></h1>
<p> <%= @vendor.description %></p>
<p> Number of Hits : <%= @page_hit.count %></p>

<%= render 'vendor_reviews_and_ratings/show' %>

<p><%= link_to 'Back', vendors_path %></p>