<!DOCTYPE html>
<html>
<head>
  <title>PlanEventz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "theme" %>
  <%= stylesheet_link_tag "navigation" %>

  <%= javascript_include_tag 'jquery-1.11.3.min.js'%>
</head>
<body>

<%= yield :javascript_includes %>

<%= render 'home/theme' %>
<%= render 'home/navigation' %>

<%= yield %>
</body>
</html>
